.container {
  width: 100%;
}

.container3{
  display: block;
  .mat-slider-horizontal {
    height: 48px;
    min-width: 250px !important;
  }
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  button {
    min-width: 120px !important;
    margin: 10px;
  }
}

.cancel-but{
  font-size: 16px;
  cursor: pointer;
  color: #f2f2f2;
  background-color: #EE3333 !important;

}
.submit-but{
  font-size: 16px;
  cursor: pointer;
  color: #f2f2f2;
  background-color: #006600 !important;

}

.message-area{
  width: 100% !important;
  mat-form-field{
    width:100% !important;
  }
}


.slider-but {
  .mat-slide-toggle-thumb{
    cursor: pointer !important;
  }
  cursor: pointer !important;
}

.mat-radio-button {
  padding: 10px;
}

.confirmation-container{
  padding-left: 15px;
}

.title-section{
  font-size: larger;
  margin-top: 0px;
  font-weight: 300;

  .close-button{
    float: right;
    top: -10px;
    right: -10px;
  }

  .close-icon {
    transition: 1s ease-in-out;
  }

}

.checkbox-section{
  min-width: 800px;
  .mat-grid-tile{
    .mat-figure{
      justify-content: start !important;
    }
  }
}
