
.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.graph {
  .edge:hover {
    cursor: pointer !important;
    .line{
      stroke-width: 3;
      cursor: pointer !important;
    }
    .edge-label{
      font-size: large;
      cursor: pointer !important;
    }
  }

  .node:hover{
    font-weight: bolder;
    cursor: pointer !important;
  }
}
